{% extends 'base/base.html' %}
{% load bootstrap3 %}
{% load static %}
{% load comments %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    {% if title %}

        {{title}}

    {% else %}

        <title> Grammy Insta </title>

    {% endif %}

    {% block styles %}

        {% bootstrap_css %}

            <link rel="stylesheet" href="{% static 'css/index.css' %}">

    {% endblock %}
</head>
<body>

    {% block content %}

        {{ block.super }}

            <div class="container">

                <div class="col-md-2"></div>

                <div class="col-md-8">

                    {% for post in posts %}

                        <div class="panel panel-default">

                            <div class="panel heading">

                                <h2>
                                    {% if post.profile.profpic %}

                                        <a href="{% url 'profile' post.user.username %}"> <img src="{{ post.profile.profpic.url }}" id="profpic"> </a>

                                    {% else %}

                                        <img src="" class="img-responsive" alt="profile"/>

                                    {% endif %}

                                        <a href="{% url 'profile' post.user.username %}"> @{{ post.user.username }} </a>
                                </h2>

                            </div>


                            <div class="panel-body">

                                <a href="{% url 'post' post.id %}"> <img src="{{ post.image.url }}" class="img-responsive" alt="post" id="image"> </a>

                            </div>

                        </div>

                    {% empty %}

                        <h1> There Are No Posts </h1>

                    {% endfor %}

                </div>

                <div class="col-md-2"></div>

            </div>

    {% endblock %}

</body>
</html>