{% extends 'base/base.html' %}
{% load bootstrap3 %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


    {% block content %}

        {{ block.super }}

            <div class="container">


                <div class="col-md-2"></div>


                <div class="col-md-8">

                    <form method="post" enctype="multipart/form-data">

                        {% csrf_token %}

                            <div class="form-group">

                                {{ form.as_p }}

                            </div>


                        <button type="submit"> Upload </button>

                    </form>

                </div>


                <div class="col-md-2"></div>

            </div>

    {% endblock %}

</body>
</html>